.emoji-picker {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
  z-index: 1000;
  background: var(--white-1);
  border: 1px solid var(--white-4);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

