.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-1);
}

.avatar-content {
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  
  // Hide broken image icon
  &::before {
    display: none;
  }
  
  // Prevent broken image icon from showing
  &[src=""],
  &:not([src]) {
    display: none;
  }
}

